<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='./style.css' />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        let stripePublicKey = '<%= publicKey %>'
    </script>
    <script src="./store.js" defer></script>
    <title>The Office Store</title>
</head>

<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href='index.html'>Home</a></li>
                <li><a href='/store'>Store</a></li>
                <li><a href='/store#cart'>Go To Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container content-section">
            <div class="shop-items">
                <% items.office.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title">
                            <%= item.name %>
                        </span>
                        <img class="shop-item-image" src="images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <section class="container content-section" id='cart'>
                <h2 class="section-header">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </section>
        </section>
    </main>
</body>

</html>